<div class="container-fluid" id="aboutMain">
    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p id="myIntro">My name is Qirrat Abbas, and I am a skilled frontend developer with expertise in HTML, CSS, JavaScript, and Bootstrap. I am currently learning Angular to further enhance my web development capabilities. With a background in software engineering and UI/UX design, I have successfully completed numerous small projects that demonstrate my ability to create dynamic and user-friendly web applications. I am passionate about continuous learning and am always looking for new challenges to grow as a developer.</p>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <img src="../../assets/images/software.jpg" id="pic">
            </div>
        </div>
    </div>
</div>
