<div class="container-fluid" id="projSection">
    <div class="row">
        <h1 class="d-flex justify-content-center" id="project">My Projects</h1>
    </div>
    <div class="row d-flex justify-content-center" id="projectsDiv">
        <div class="col-sm-8 col-xs-8 col-md-5 col-lg-3 box" id="calculator">
            <p>JS calculator</p>
            <a href="https://github.com/qirrat-abbas/CodeAlpha_Age_Calculator" target="_blank" class="link">
                <span class="link"><i class="fa-solid fa-link"></i></span>
            </a>
        </div> <!-- col resp works only in order-->
        
        <div class="col-sm-8 col-xs-8 col-md-5 col-lg-3 box" id="schoolForm">
            <p>School Form</p>
            <a href="https://github.com/qirrat-abbas/School-Form" target="_blank" class="link">
                <span class="link"><i class="fa-solid fa-link"></i></span>
            </a>
        </div>

        <div class="col-sm-8 col-xs-8 col-md-5 col-lg-3 box" id="todolist">
            <p>To-Do List</p>
            <a href="https://github.com/qirrat-abbas/CodeAlpha_todoList_Project/tree/main" target="_blank" class="link">
                <span class="link"><i class="fa-solid fa-link"></i></span>
            </a>
        </div>

        <div class="col-sm-8 col-xs-8 col-md-5 col-lg-3 box" id="figmaProject">
            <p>Figma Diet App</p>
            <a href="https://www.figma.com/design/g8GYROXYsbjxL526OWwEXT/UXD-PROJECT?node-id=0-1&t=COt3ijJoygfAY4kA-1" target="_blank" class="link">
                <span class="link"><i class="fa-solid fa-link"></i></span>
            </a>
        </div>

        <div class="col-sm-8 col-xs-8 col-md-5 col-lg-3 box" id="wayfair">
            <p>Wayfair Recreate Figma</p><span class="link"><i class="fa-solid fa-link"></i></span>
        </div>

        <div class="col-sm-8 col-xs-8 col-md-5 col-lg-3 box" id="cafeProject">
            <p>Cafe Project</p><span  class="link"><i class="fa-solid fa-link"></i></span>
        </div>
    </div>
</div>
