<div class="container-fluid" id="contact">
    <div class="row">
        <div class="col d-flex justify-content-center">
          <mat-icon aria-hidden="false" aria-label="Example envelope icon" fontIcon="mail" id="emailIcon"></mat-icon>
          <p class="d-flex justify-content-center" id="email">qirratabbas9&#64;gmail.com</p>
        </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/qirrat-abbas-16b685248" target="_blank" aria-label="LinkedIn" class="rounded-circle social-icon">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://www.facebook.com/your-facebook-profile" target="_blank" aria-label="Facebook" class="rounded-circle social-icon">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>

</div>
